#friends-display-link {
  display: inline-block;
  width: 100%;
  background-color: #fafafa;
  padding: 0.7rem 0rem;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
}

#friends-display-link i {
  color: var(--gray);
  opacity: 0.3;
}
@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  z-index: 1;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 1s;
}
