.chat-screen {
  height: 11000vh;
}
.chat-screen-background {
  background-color: #abc1d1;
}
.alt-header-pchat {
  position: fixed;
  opacity: 0.7;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
  background-color: #abc1d1;
}
.main-pchat {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pchat__time-stamp {
  background-color: var(--light-gray);
  color: white;
  justify-content: center;
  font-size: 1rem;
  border-radius: 0.8rem;
  padding: 0.3rem 1.5rem;
  margin-bottom: 1rem;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}
.message-row img {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 35%;
  margin-right: 0.7rem;
}
.message__author {
  opacity: 0.7;
  font-size: 0.8rem;
  display: block;
  margin-bottom: 0.3rem;
  padding-top: 0.1rem;
}
.message__bubble {
  background-color: white;
  padding: 0.4rem;
  border-radius: 0.4rem;
  border-top-left-radius: 0;
}
.message__time {
  font-size: 0.5rem;
  margin: 0 0.3rem;
  opacity: 0.6;
}
@keyframes message-info-fade-inAnimation {
  from {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.message__info {
  opacity: 0;
  display: flex;
  align-items: flex-end;
  animation: message-info-fade-inAnimation 0.1s ease-in forwards;
  animation-delay: 3s;
}
.message__info-mine {
  animation-delay: 5s;
}
.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}
.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 1rem;
  align-items: center;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.reply .form__column:first-child {
  width: 3%;
}
.reply .form__column:last-child {
  width: 97%;
  position: relative;
}
.reply input {
  width: 100%;
  border: var(--main-border);
  border-radius: 1rem;
  align-items: center;
  padding: 0.4rem;
  transition: all 0.3s ease-in-out;
}
.smile,
.reply button {
  position: absolute;
  right: 1.4rem;
  top: 0.1rem;
}
.reply button {
  right: -0.2rem;
  top: 0.3rem;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: var(--yellow);
}
button svg {
  position: absolute;
  top: 0;
  left: 0;
}
.reply svg:not(button svg) {
  opacity: 0.5;
}
.form__column button:focus,
.form__column button:active {
  outline: none;
}
.reply .form__column:first-child,
.reply button,
.reply .smile {
  transition: opacity 0.3s ease-in-out;
}
.reply:focus-within .form__column:first-child,
.reply:focus-within button,
.reply:focus-within .smile {
  opacity: 0;
}
.reply input:focus {
  width: 97vw;
  transform: translateX(-4%) translateY(-30rem);
}
.reply:focus-within {
  transform: translateY(30rem);
}
